
body {
    background-color:#0d0d0d;
    font-family: monospace;
    color: #bfbfbf; 
    margin:0;
  
  }
  div {
    margin: 0 auto;
    min-width: 200px;
    max-width: 80%;
    background-color: #0d0d0d;
  }
  #title {
    text-align: center;
  }
  
  #description {
    text-align: center;
    font-size: 20px;
    
  }
  
  fieldset {
    padding: 5;
    margin: auto;
    margin-bottom: 5;
    border: none;
  }
  legend {
    font-size: 1rem;
    margin: auto;
    width: 100%;
    text-align: center;
  
  }
  label , input, select{
    font-size: 1.2rem;
    display: block;
    width: 100%;
    color: #bfbfbf;
    padding-top: 5;
  }
  select {
    color: #bfbfbf;
    background-color: #0d0d0d;
  }
  .inline, #days {
    margin: auto;
    display: inline;
    width: unset;
    vertical-align: middle;
    
  }
  a {
   color: #bfbfbf;
  }
  
  a:hover {
    color: cyan;
  }
  
  #submit {
    background-color: #0d0d0d;
    border: solid;
    text-align: center;
    width: 100%;
    margin: auto;
    display: block;
    padding-bottom: 3;
    padding-top:3;
    margin-top: 15px;
    border-radius: 5px;
  }
  #submit:hover {
    color:cyan;
    border-color: rgba(0, 255, 255, 50%);
    font-size: 1.6rem;
    border-radius:10px;
  }
  textarea {
    background-color: #0d0d0d;
    border: 1px solid #bfbfbf;
    color: #bfbfbf;
    font-family:moonspace;
    font-size: 1rem
  }